body {
    font-family: 'Arial', sans-serif;
    background-image: url('Img/Amigos.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ee0fc9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
}

p {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6b81;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ff4757;
    transform: scale(1.05);
}


 
